h1{
    background-color: peachpuff;
}
body{
    background-color: greenyellow;
}
#score{
    font-size: 30px;
margin-right: 1500px;
font-weight: bold;
}
#timer{
    font-size: 30px;
    margin-left: 1500px;
    font-weight: bold;
    
}
#sketch_to_be_drawn{
    font-size: 25px;
    color: red;
}
#yoursketch{
    font-size: 25px;
    font-weight: bold;
}
#confidence{
    font-size: 25px;
    font-weight: bold;
}



